html,
body {
  font-family: 'Nunito Sans', sans-serif;
  color: #375377;
}
.gutters {
  margin-right: 10px;
  margin-left: 10px;
}
.gutters > .col,
.gutters > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
.navbar {
  background-color: #375377;
  padding: 1px 0;
}
.navbar .navbar-brand {
  padding: 0;
}
.control-container {
  margin: 50px 0 10px;
}
.control-container select,
.control-container input,
.control-container button {
  font-family: 'Muli', sans-serif;
  font-size: 17px;
}
.text-container .text-panel {
  position: relative;
  border: 3px solid #6D768C;
  border-radius: 5px;
  width: 100%;
  padding-top: 1rem;
  padding-left: 7rem;
  margin-bottom: 10px;
}
.text-container .text-panel .main_text {
  width: 100%;
  height: 100%;
  min-height: 17rem;
  max-width: 100%;
  display: block;
  border: 0;
  font-size: 19px;
  color: #375377;
  line-height: 2.95rem;
  resize: vertical;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  overflow: auto;
}
.text-container .text-panel .main_text:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
}
.text-container .control-panel {
  text-align: right;
}
.input-panel {
  border: 3px solid #444464;
  background-image: url('/static/dist/img/head.png');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 4px;
  padding: 0 10px 0 50px;
  border-radius: 25px;
  height: 49px;
  width: 230px;
}
.input-panel select,
.input-panel input {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.input-panel select:focus,
.input-panel select.focus,
.input-panel input:focus,
.input-panel input.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
}
.voice-controls {
  border: 3px solid #444464;
  padding: 5px 10px 6px 23px;
  border-radius: 25px;
  width: 122px;
  height: 50px;
}
.voice-controls a:hover {
  text-decoration: none;
}
.voice-controls a:first-child {
  margin-right: 3px;
}
.voice-controls .voice-control {
  width: 32px;
  float: left;
}
.voice-controls .voice-control:first-child {
  margin-right: 9px;
}
.voice-controls::after {
  clear: both;
  content: '';
}
.side-controls {
  position: absolute;
  left: 25px;
  top: 20px;
}
.side-controls a:hover {
  text-decoration: none;
}
.fileinput-block {
  width: 32px;
  height: 32px;
  display: block;
  background: url('/static/dist/img/upload.png') no-repeat center;
  position: relative;
  overflow: hidden;
}
.fileinput-block input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.btn.btn-main {
  background-color: #444464;
  border: 1px solid #444464;
  color: #ffffff;
  padding: 11px 32px 11px 23px;
  border-radius: 25px;
}
.btn.btn-main img {
  margin-right: 10px;
  margin-bottom: 2px;
}
.btn.btn-main:hover {
  color: #ffffff;
  opacity: 0.9;
}
.btn.btn-main.disabled,
.btn.btn-main:disabled {
  opacity: 0.2;
}
.btn.btn-main:not(:disabled):not(.disabled):active,
.btn.btn-main:not(:disabled):not(.disabled).active,
.show > .btn.btn-main.dropdown-toggle {
  color: #ffffff;
  background-color: #444464;
}
a.disabled {
  pointer-events: none;
  opacity: 0.3;
  cursor: default;
}
.btn-round {
  border: 3px solid #444464;
  border-radius: 25px;
  width: 230px;
  padding: 6px 15px 6px 20px;
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 17px;
  color: #375377;
}
.btn-round:hover {
  text-decoration: none;
}
.btn-round img {
  margin-right: 10px;
}
footer {
  background-color: #375377;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */